@import 'variables';
@import 'normalise';

body {
    font-family: @bodyFont;
}

header {
    height: 60px;
    width: 100%;
    background-color: #1C2A41;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    h1, p {
        color: @lightText;
        margin: 0;
        font-weight: normal;
    }
}

.options {
    margin: 40px 0 10px 0;
    div {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        button {
            border: none;
            background-color: #123E5E;
            padding: 12px 24px;
            color: @lightText;
            font-size: 18px;
            font-family: @bodyFont;
            border-radius: 8px;
            cursor: pointer;
            box-shadow: 0 2px 2px rgba(0,0,0,0.2);
            transition: all 300ms ease-out;
            &:hover {
                box-shadow: 0 2 6px rgba(0,0,0,0.5);
                background-color: #1D4370;
                transform: translateY(-1px);
            }
        }
    }
}

#grid-container {
    .grid {
        margin: 40px auto;
        background-color: #5F728C;
        border-color: #5F728C;
        border-style: solid;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;
        color: @lightText;
        position: relative;
        width: 96%;
        .tile-holder {
            background-color: rgba(21, 39, 64, 0.3);
            border-radius: 8px;
        }
        .tile {
            position: absolute;
            border-radius: 8px;
            transition: transform 120ms ease-in-out, opacity 120ms ease-in;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            opacity: 0;
            &.show {
                opacity: 1;
            }
            @media (max-width: 600px){
                font-size: 26px;
            }
        }
        .message-container {
            z-index: 10;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0,0,0,0.6);
            border-radius: 8px;
            padding: 20px;
            color: @lightText;
            font-size: 22px;
            opacity: 0;
            transition: all 200ms ease-out;
            &.show {
                opacity: 1;
            }
        }
    }
}